In [19]:
import pandas as pd
data = pd.read_csv('D:\DataAnalysysHW\HW2\\nba_2013.csv', delimiter=',')
data.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [14]:
data.shape

(481, 31)

In [15]:
data.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [20]:
data.isnull().any().any()

True

In [18]:
data.describe()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,season_end
count,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,479.000000,481.000000,481.000000,414.000000,...,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.000000,481.0
mean,26.509356,53.253638,25.571726,1237.386694,192.881497,424.463617,0.436436,39.613306,110.130977,0.285111,...,55.810811,162.817048,218.627859,112.536383,39.280665,24.103950,71.862786,105.869023,516.582121,2013.0
std,4.198265,25.322711,29.658465,897.258840,171.832793,368.850833,0.098672,50.855639,132.751732,0.157633,...,62.101191,145.348116,200.356507,131.019557,34.783590,30.875381,62.701690,71.213627,470.422228,0.0
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2013.0
25%,23.000000,32.000000,0.000000,388.000000,47.000000,110.000000,0.400500,0.000000,3.000000,0.234355,...,12.000000,43.000000,55.000000,20.000000,9.000000,4.000000,21.000000,44.000000,115.000000,2013.0
50%,26.000000,61.000000,10.000000,1141.000000,146.000000,332.000000,0.438000,16.000000,48.000000,0.330976,...,35.000000,135.000000,168.000000,65.000000,32.000000,14.000000,58.000000,104.000000,401.000000,2013.0
75%,29.000000,76.000000,54.000000,2016.000000,307.000000,672.000000,0.479500,68.000000,193.000000,0.375000,...,73.000000,230.000000,310.000000,152.000000,60.000000,32.000000,108.000000,158.000000,821.000000,2013.0
max,39.000000,83.000000,82.000000,3122.000000,849.000000,1688.000000,1.000000,261.000000,615.000000,1.000000,...,440.000000,783.000000,1114.000000,721.000000,191.000000,219.000000,295.000000,273.000000,2593.000000,2013.0

In [7]:
data.describe(include=['object', 'bool'])

           player  pos bref_team_id     season
count         481  481          481        481
unique        481    7           31          1
top     Greg Oden   SG          TOT  2013-2014
freq            1  109           63        481

In [8]:

print("Исходные признаки:\n", list(data.columns), "\n")
data_dummies = pd.get_dummies(data)
print("Признаки после get_dummies:\n", list(data_dummies.columns))

Исходные признаки:
 ['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season', 'season_end']

Признаки после get_dummies:
 ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season_end', 'player_A.J. Price', 'player_Aaron Brooks', 'player_Aaron Gray', 'player_Adonis Thomas', 'player_Al Harrington', 'player_Al Horford', 'player_Al Jefferson', 'player_Al-Farouq Aminu', 'player_Alan Anderson', 'player_Alec Burks', 'player_Alex Len', 'player_Alexey Shved', 'player_Alexis Ajinca', 'player_Allen Crabbe', 'player_Alonzo Gee', "player_Amar'e Stoudemire", 'player_Amir Johnson', 'player_Anderson Varejao', 'player_Andray Blatche', 'player_Andre Drummond', 'player_Andre Iguodala', 'player_Andre Miller', 'player_Andre Roberson', 'player_Andrea Bargnani', 'player_Andrei Kirilenko', 'player_Andrew Bogut', 'player_Andrew Bynum', 'player_Andrew Nicholson', 'player_Andris Biedrins', 'player_Antawn Jamison', 'player_Anthony Bennett', 'player_Anthony Davis', 'player_Anthony Morrow', 'player_Anthony Randolph', 'player_Anthony Tolliver', 'player_Archie Goodwin', 'player_Arinze Onuaku', 'player_Arnett Moultrie', 'player_Aron Baynes', 'player_Arron Afflalo', 'player_Austin Daye', 'player_Austin Rivers', 'player_Avery Bradley', 'player_Ben Gordon', 'player_Ben McLemore', 'player_Beno Udrih', 'player_Bernard James', 'player_Bismack Biyombo', 'player_Blake Griffin', 'player_Boris Diaw', 'player_Bradley Beal', 'player_Brandan Wright', 'player_Brandon Bass', 'player_Brandon Davies', 'player_Brandon Jennings', 'player_Brandon Knight', 'player_Brandon Rush', 'player_Brian Roberts', 'player_Brook Lopez', 'player_Byron Mullens', 'player_C.J. McCollum', 'player_C.J. Miles', 'player_C.J. Watson', 'player_Carl Landry', 'player_Carlos Boozer', 'player_Carmelo Anthony', 'player_Caron Butler', 'player_Carrick Felix', 'player_Cartier Martin', 'player_Casper Ware', 'player_Chandler Parsons', 'player_Channing Frye', 'player_Charlie Villanueva', 'player_Chase Budinger', 'player_Chauncey Billups', 'player_Chris Andersen', 'player_Chris Babb', 'player_Chris Bosh', 'player_Chris Copeland', 'player_Chris Douglas-Roberts', 'player_Chris Johnson', 'player_Chris Kaman', 'player_Chris Paul', 'player_Chris Singleton', 'player_Chris Smith', 'player_Chris Wright', 'player_Chuck Hayes', 'player_Cody Zeller', 'player_Cole Aldrich', 'player_Corey Brewer', 'player_Cory Joseph', 'player_Courtney Lee', 'player_D.J. Augustin', 'player_D.J. Stephens', 'player_D.J. White', 'player_Damian Lillard', 'player_Damion James', 'player_Daniel Orton', 'player_Danny Granger', 'player_Danny Green', 'player_Dante Cunningham', 'player_Darius Johnson-Odom', 'player_Darius Miller', 'player_Darius Morris', 'player_Darrell Arthur', 'player_Darren Collison', 'player_David Lee', 'player_David West', 'player_DeAndre Jordan', 'player_DeAndre Liggins', 'player_DeJuan Blair', 'player_DeMar DeRozan', 'player_DeMarcus Cousins', 'player_DeMarre Carroll', 'player_Dennis Schröder', 'player_Derek Fisher', 'player_Deron Williams', 'player_Derrick Favors', 'player_Derrick Rose', 'player_Derrick Williams', 'player_Devin Harris', 'player_Dewayne Dedmon', 'player_Dexter Pittman', 'player_Diante Garrett', 'player_Dion Waiters', 'player_Dionte Christmas', 'player_Dirk Nowitzki', 'player_Donald Sloan', 'player_Donatas Motiejunas', 'player_Dorell Wright', 'player_Doron Lamb', 'player_Draymond Green', 'player_Drew Gooden', 'player_Dwight Buycks', 'player_Dwight Howard', 'player_Dwyane Wade', "player_E'Twaun Moore", 'player_Earl Clark', 'player_Earl Watson', 'player_Ed Davis', 'player_Ekpe Udoh', 'player_Elias Harris', 'player_Elliot Williams', 'player_Elton Brand', 'player_Enes Kanter', 'player_Eric Bledsoe', 'player_Eric Gordon', 'player_Eric Maynor', 'player_Erik Murphy', 'player_Ersan Ilyasova', 'player_Evan Fournier', 'player_Evan Turner', 'player_Francisco Garcia', 'player_Gal Mekel', 'player_Garrett Temple', 'player_Gary Neal', 'player_George Hill', 'player_Gerald Green', 'player_Gerald Henderson', 'player_Gerald Wallace', 'player_Giannis Antetokounmpo', 'player_Glen Davis', 'player_Glen Rice', 'player_Goran Dragic', 'player_Gordon Hayward', 'player_Gorgui Dieng', 'player_Greg Monroe', 'player_Greg Oden', 'player_Greg Smith', 'player_Greg Stiemsma', 'player_Greivis Vasquez', 'player_Gustavo Ayon', "player_Hamady N'Diaye", 'player_Harrison Barnes', 'player_Hasheem Thabeet', 'player_Hedo Turkoglu', 'player_Henry Sims', 'player_Hilton Armstrong', 'player_Hollis Thompson', 'player_Ian Clark', 'player_Ian Mahinmi', 'player_Iman Shumpert', 'player_Isaiah Canaan', 'player_Isaiah Thomas', 'player_Ish Smith', 'player_J.J. Hickson', 'player_J.J. Redick', 'player_J.R. Smith', 'player_JaVale McGee', 'player_Jae Crowder', 'player_Jamaal Franklin', 'player_Jamaal Tinsley', 'player_Jamal Crawford', 'player_Jameer Nelson', 'player_James Anderson', 'player_James Harden', 'player_James Johnson', 'player_James Jones', 'player_James Nunnally', 'player_James Southerland', 'player_Jan Vesely', 'player_Jannero Pargo', 'player_Jared Cunningham', 'player_Jared Dudley', 'player_Jared Sullinger', 'player_Jarrett Jack', 'player_Jarvis Varnado', 'player_Jason Collins', 'player_Jason Maxiell', 'player_Jason Smith', 'player_Jason Terry', 'player_Jason Thompson', 'player_Jeff Adrien', 'player_Jeff Ayres', 'player_Jeff Green', 'player_Jeff Teague', 'player_Jeff Withey', 'player_Jeffery Taylor', 'player_Jeremy Evans', 'player_Jeremy Lamb', 'player_Jeremy Lin', 'player_Jeremy Tyler', "player_Jermaine O'Neal", 'player_Jerryd Bayless', 'player_Jimmer Fredette', 'player_Jimmy Butler', 'player_Joakim Noah', 'player_Jodie Meeks', 'player_Joe Johnson', 'player_Joel Anthony', 'player_Joel Freeland', 'player_John Henson', 'player_John Jenkins', 'player_John Lucas', 'player_John Salmons', 'player_John Wall', 'player_Jon Leuer', 'player_Jonas Jerebko', 'player_Jonas Valanciunas', 'player_Jordan Crawford', 'player_Jordan Farmar', 'player_Jordan Hamilton', 'player_Jordan Hill', 'player_Jorge Gutierrez', 'player_Jose Barea', 'player_Jose Calderon', 'player_Josh Childress', 'player_Josh Harrellson', 'player_Josh McRoberts', 'player_Josh Powell', 'player_Josh Smith', 'player_Jrue Holiday', 'player_Julyan Stone', 'player_Justin Hamilton', 'player_Kawhi Leonard', 'player_Keith Bogans', 'player_Kelly Olynyk', 'player_Kemba Walker', 'player_Kendall Marshall', 'player_Kendrick Perkins', 'player_Kenneth Faried', 'player_Kent Bazemore', 'player_Kentavious Caldwell-Pope', 'player_Kenyon Martin', 'player_Kevin Durant', 'player_Kevin Garnett', 'player_Kevin Love', 'player_Kevin Martin', 'player_Kevin Seraphin', 'player_Khris Middleton', 'player_Kirk Hinrich', 'player_Klay Thompson', 'player_Kobe Bryant', 'player_Kosta Koufos', 'player_Kris Humphries', 'player_Kyle Korver', 'player_Kyle Lowry', "player_Kyle O'Quinn", 'player_Kyle Singler', 'player_Kyrie Irving', 'player_LaMarcus Aldridge', 'player_Lance Stephenson', 'player_Lance Thomas', 'player_Landry Fields', 'player_Larry Sanders', 'player_Lavoy Allen', 'player_LeBron James', 'player_Leandro Barbosa', 'player_Lorenzo Brown', 'player_Louis Amundson', 'player_Louis Williams', 'player_Luc Mbah a Moute', 'player_Luigi Datome', 'player_Luis Scola', 'player_Luke Babbitt', 'player_Luke Ridnour', 'player_Luol Deng', 'player_Maalik Wayns', 'player_Malcolm Thomas', 'player_Manny Harris', 'player_Manu Ginobili', 'player_MarShon Brooks', 'player_Marc Gasol', 'player_Marcin Gortat', 'player_Marco Belinelli', 'player_Marcus Morris', 'player_Marcus Thornton', 'player_Mario Chalmers', 'player_Markieff Morris', 'player_Marquis Teague', 'player_Marreese Speights', 'player_Martell Webster', 'player_Marvin Williams', 'player_Mason Plumlee', 'player_Matt Barnes', 'player_Matt Bonner', 'player_Matthew Dellavedova', 'player_Maurice Harkless', 'player_Melvin Ely', 'player_Metta World Peace', 'player_Meyers Leonard', 'player_Michael Beasley', 'player_Michael Carter-Williams', 'player_Michael Kidd-Gilchrist', 'player_Mike Conley', 'player_Mike Dunleavy', 'player_Mike Harris', 'player_Mike James', 'player_Mike Miller', 'player_Mike Muscala', 'player_Mike Scott', 'player_Miles Plumlee', 'player_Miroslav Raduljica', 'player_Mirza Teletovic', 'player_Mo Williams', 'player_Monta Ellis', 'player_Mustafa Shakur', 'player_Nando De Colo', 'player_Nate Robinson', 'player_Nate Wolters', 'player_Nazr Mohammed', 'player_Nemanja Nedovic', 'player_Nene Hilario', 'player_Nick Calathes', 'player_Nick Collison', 'player_Nick Young', 'player_Nicolas Batum', 'player_Nikola Pekovic', 'player_Nikola Vucevic', 'player_Norris Cole', 'player_O.J. Mayo', 'player_Ognjen Kuzmic', 'player_Omer Asik', 'player_Omri Casspi', 'player_Orlando Johnson', 'player_Othyus Jeffers', 'player_Otto Porter', 'player_P.J. Tucker', 'player_Pablo Prigioni', 'player_Patrick Beverley', 'player_Patrick Mills', 'player_Patrick Patterson', 'player_Pau Gasol', 'player_Paul George', 'player_Paul Millsap', 'player_Paul Pierce', 'player_Pero Antic', 'player_Perry Jones', 'player_Peyton Siva', 'player_Phil Pressey', 'player_Quincy Acy', 'player_Quincy Miller', 'player_Quincy Pondexter', 'player_Rajon Rondo', 'player_Ramon Sessions', 'player_Randy Foye', 'player_Rashard Lewis', 'player_Rasual Butler', 'player_Ray Allen', 'player_Ray McCallum', 'player_Raymond Felton', 'player_Reggie Bullock', 'player_Reggie Evans', 'player_Reggie Jackson', 'player_Reggie Williams', 'player_Richard Jefferson', 'player_Ricky Ledo', 'player_Ricky Rubio', 'player_Robbie Hummel', 'player_Robert Covington', 'player_Robert Sacre', 'player_Robin Lopez', 'player_Rodney Stuckey', 'player_Roger Mason', 'player_Ronnie Brewer', 'player_Ronnie Price', 'player_Ronny Turiaf', 'player_Roy Hibbert', 'player_Royal Ivey', 'player_Royce White', 'player_Rudy Gay', 'player_Rudy Gobert', 'player_Russell Westbrook', 'player_Ryan Anderson', 'player_Ryan Gomes', 'player_Ryan Hollins', 'player_Ryan Kelly', 'player_Samuel Dalembert', 'player_Sasha Vujacic', 'player_Scotty Hopson', 'player_Serge Ibaka', 'player_Sergey Karasev', 'player_Seth Curry', 'player_Shabazz Muhammad', 'player_Shane Battier', 'player_Shane Edwards', 'player_Shane Larkin', 'player_Shannon Brown', 'player_Shaun Livingston', 'player_Shavlik Randolph', 'player_Shawn Marion', 'player_Shawne Williams', 'player_Shelvin Mack', 'player_Solomon Hill', 'player_Solomon Jones', 'player_Spencer Hawes', 'player_Stephen Curry', 'player_Stephen Jackson', 'player_Steve Blake', 'player_Steve Nash', 'player_Steve Novak', 'player_Steven Adams', 'player_Taj Gibson', 'player_Tayshaun Prince', 'player_Terrence Jones', 'player_Terrence Ross', 'player_Thabo Sefolosha', 'player_Thaddeus Young', 'player_Thomas Robinson', 'player_Tiago Splitter', 'player_Tim Duncan', 'player_Tim Hardaway', 'player_Timofey Mozgov', 'player_Tobias Harris', 'player_Toney Douglas', 'player_Tony Allen', 'player_Tony Mitchell', 'player_Tony Parker', 'player_Tony Snell', 'player_Tony Wroten', 'player_Tornike Shengelia', "player_Toure' Murry", 'player_Travis Outlaw', 'player_Trevor Ariza', 'player_Trevor Booker', 'player_Trey Burke', 'player_Tristan Thompson', 'player_Troy Daniels', 'player_Ty Lawson', 'player_Tyler Hansbrough', 'player_Tyler Zeller', 'player_Tyreke Evans', 'player_Tyshawn Taylor', 'player_Tyson Chandler', 'player_Udonis Haslem', 'player_Vander Blue', 'player_Viacheslav Kravtsov', 'player_Victor Claver', 'player_Victor Oladipo', 'player_Vince Carter', 'player_Vitor Faverani', 'player_Wayne Ellington', 'player_Wesley Johnson', 'player_Wesley Matthews', 'player_Will Barton', 'player_Will Bynum', 'player_Willie Green', 'player_Wilson Chandler', 'player_Xavier Henry', 'player_Zach Randolph', 'player_Zaza Pachulia', 'pos_C', 'pos_F', 'pos_G', 'pos_PF', 'pos_PG', 'pos_SF', 'pos_SG', 'bref_team_id_ATL', 'bref_team_id_BOS', 'bref_team_id_BRK', 'bref_team_id_CHA', 'bref_team_id_CHI', 'bref_team_id_CLE', 'bref_team_id_DAL', 'bref_team_id_DEN', 'bref_team_id_DET', 'bref_team_id_GSW', 'bref_team_id_HOU', 'bref_team_id_IND', 'bref_team_id_LAC', 'bref_team_id_LAL', 'bref_team_id_MEM', 'bref_team_id_MIA', 'bref_team_id_MIL', 'bref_team_id_MIN', 'bref_team_id_NOP', 'bref_team_id_NYK', 'bref_team_id_OKC', 'bref_team_id_ORL', 'bref_team_id_PHI', 'bref_team_id_PHO', 'bref_team_id_POR', 'bref_team_id_SAC', 'bref_team_id_SAS', 'bref_team_id_TOR', 'bref_team_id_TOT', 'bref_team_id_UTA', 'bref_team_id_WAS', 'season_2013-2014']

In [10]:
print(data.pos.value_counts())

SG    109
SF     99
PF     96
C      90
PG     85
G       1
F       1
Name: pos, dtype: int64

In [11]:
display(data_dummies.head(n=2))

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,bref_team_id_PHI,bref_team_id_PHO,bref_team_id_POR,bref_team_id_SAC,bref_team_id_SAS,bref_team_id_TOR,bref_team_id_TOT,bref_team_id_UTA,bref_team_id_WAS,season_2013-2014
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,0,0,0,0,0,0,1,0,0,1
1,20,81,20,1197,93,185,0.503,0,0,NaN,...,0,0,0,0,0,0,0,0,0,1