In [1]:
import pandas as pd
data = pd.read_csv('D:\DataAnalysysHW\HW2\\titanic.csv', delimiter=',')
data.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [3]:
data.shape

(887, 8)

In [4]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [5]:
data.isnull().any().any()

False

In [6]:
data.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

In [7]:
data.describe(include=['object', 'bool'])

                              Name   Sex
count                          887   887
unique                         887     2
top     Mr. Leo Peter Vanden Steen  male
freq                             1   573

In [8]:

print("Исходные признаки:\n", list(data.columns), "\n")
data_dummies = pd.get_dummies(data)
print("Признаки после get_dummies:\n", list(data_dummies.columns))

Исходные признаки:
 ['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare']

Признаки после get_dummies:

In [11]:
print(data.Sex.value_counts())

male      573
female    314
Name: Sex, dtype: int64

In [12]:
display(data_dummies.head(n=2))

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Name_Capt. Edward Gifford Crosby,Name_Col. John Weir,Name_Col. Oberst Alfons Simonius-Blumer,Name_Don. Manuel E Uruchurtu,...,Name_Rev. Charles Leonard Kirkland,Name_Rev. Ernest Courtenay Carter,Name_Rev. John Harper,Name_Rev. Juozas Montvila,Name_Rev. Robert James Bateman,Name_Rev. Thomas Roussel Davids Byles,Name_Sir. Cosmo Edmund Duff Gordon,Name_the Countess. of (Lucy Noel Martha Dyer-Edwards) Rothes,Sex_female,Sex_male
0,0,3,22.0,1,0,7.2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,38.0,1,0,71.2833,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0